<!DOCTYPE html>
<html lang="en">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
        <link rel="shortcut icon" href="/favicon.ico" />
        <title>WowoPost</title>
        
        <script src="/javascript/jquery-1.9.1.min.js"></script>
        <script src="/javascript/jquery-ui.min.js"></script>
        <link rel="stylesheet" href="/style/jquery-ui.css" />
        <link rel="stylesheet" href="/style/combobox.css" />
        <link rel="stylesheet" href="/style/jumbotron-narrow.css" />
        <link rel="stylesheet" href="/style/bootstrap.css" />
    </head>

    <body>
    
        <div class="container">
            <div class="header">
                <ul class="nav nav-pills pull-right">
                    <li class="active"><a href="#">Home</a></li>
                    <li><a href="#">About</a></li>
                    <li><a href="#">Contact</a></li>
                </ul>
                <h3 class="text-muted">WowoPost</h3>
            </div>
            
            <div class="jumbotron">
                <h1>WowoPost</h1>
                <p class="lead">Connect with Facebook now</p>
                <p class="lead">Then You Will be able to Feed POST to Yourself Timeline</p>
                <p class="lead">In any future point In time.</p>
                <p><a class="btn btn-lg btn-success" href="#" role="button">Sign up today</a></p>
            </div>
            
            <div class="footer">
                <p>&copy; Company 2013</p>
            </div>
        </div> 
    </body>
</html>
